In [1]:
import numpy as np
import pandas as pd

In [17]:
col_val = ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8']
data = pd.read_csv('test.log')

In [19]:
data.head()

   2676  2668  2667  2741  2782  2707  2689  2669
0  2704  2668  2668  2842  2866  2716  2666  2668
1  2695  2668  2668  2826  2837  2720  2673  2668
2  2660  2668  2668  2747  2760  2709  2676  2668
3  2593  2668  2667  2725  2770  2706  2667  2669
4  2673  2668  2667  2741  2785  2694  2672  2668

In [20]:
test = pd.DataFrame(col_val)