In [2]:
import joblib 
from sklearn import linear_model
import pandas as pd

In [3]:
clf = joblib.load('models/logisticReg_mod.joblib')

In [57]:
df = pd.read_csv('test_df.csv', header=None)

In [58]:
df

        0     1     2      3      4      5     6     7
0    2731  2721  2672   3109   3315   3067  2763  2668
1    2705  2718  2670   2941   3132   3032  2751  2668
2    2692  2716  2673   3106   3298   3038  2751  2668
3    2624  2714  2670   2941   3145   2988  2757  2669
4    2711  2712  2673   3173   3359   2989  2732  2669
..    ...   ...   ...    ...    ...    ...   ...   ...
598   935     7   104  17625  17625  17626  2622  2667
599   950     7   104  17626  17625  17625  2637  2666
600   938     7   104  17626  17625  17626  2635  2666
601   913     6   104  17626  17625  17626  2617  2667
602   925     7   104  17627  17625  17626  2626  2667

[603 rows x 8 columns]

In [61]:
col_vals = []
for i in range(df.shape[1]):
    col_vals.append(f's{i}')

df.columns = col_vals
df

       s0    s1    s2     s3     s4     s5    s6    s7
0    2731  2721  2672   3109   3315   3067  2763  2668
1    2705  2718  2670   2941   3132   3032  2751  2668
2    2692  2716  2673   3106   3298   3038  2751  2668
3    2624  2714  2670   2941   3145   2988  2757  2669
4    2711  2712  2673   3173   3359   2989  2732  2669
..    ...   ...   ...    ...    ...    ...   ...   ...
598   935     7   104  17625  17625  17626  2622  2667
599   950     7   104  17626  17625  17625  2637  2666
600   938     7   104  17626  17625  17626  2635  2666
601   913     6   104  17626  17625  17626  2617  2667
602   925     7   104  17627  17625  17626  2626  2667

[603 rows x 8 columns]

In [15]:
proba = clf.predict_proba(df)

In [20]:
import numpy as np

In [21]:
np.where(proba.max())

(array([0], dtype=int64),)

In [39]:
proba

array([[1.38265730e-09, 9.99999997e-01, 1.36566767e-09],
       [2.34322580e-09, 9.99999996e-01, 1.70816564e-09],
       [1.78131244e-09, 9.99999997e-01, 1.56228245e-09],
       ...,
       [7.04255198e-10, 1.60320180e-10, 9.99999999e-01],
       [6.98176362e-10, 1.47709072e-10, 9.99999999e-01],
       [7.01933385e-10, 1.53931443e-10, 9.99999999e-01]])

In [41]:
pd.DataFrame(proba)

                0             1             2
0    1.382657e-09  1.000000e+00  1.365668e-09
1    2.343226e-09  1.000000e+00  1.708166e-09
2    1.781312e-09  1.000000e+00  1.562282e-09
3    3.257879e-09  1.000000e+00  1.780131e-09
4    1.522517e-09  1.000000e+00  1.325553e-09
..            ...           ...           ...
597  7.034317e-10  1.561673e-10  1.000000e+00
598  7.095992e-10  1.649287e-10  1.000000e+00
599  7.042552e-10  1.603202e-10  1.000000e+00
600  6.981764e-10  1.477091e-10  1.000000e+00
601  7.019334e-10  1.539314e-10  1.000000e+00

[602 rows x 3 columns]

In [62]:
pred = clf.predict(df)

In [63]:
d = {}
for p in pred:
    if p not in d.keys():
        d[p] = 1
    else:
        d[p] += 1

In [64]:
d

{'control': 200, 'alcohol': 195, 'lotion': 208}

In [37]:
d.get('control')

199

In [38]:
max(d, key=d.get)

'lotion'